.upgrade-wrap,
.child-theme-wrap {
	background: #fff;
	padding: 30px;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin-top: 30px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	max-width: 900px
}
.upgrade-wrap {
	background: #fff url('../images/wordpress-logo.png') no-repeat right top;
}
.upgrade-wrap .headline {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 1em;
}
.upgrade-wrap p,
.child-theme-wrap ol {
	font-size: 14px;
	margin-bottom: 25px;
	max-width: 650px;
}
.child-theme-wrap li {
	margin-bottom: 15px;
}
.enterprise-pre {
	background: #F1F1F1;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
	margin-bottom: 30px;
	display: block;
	overflow-x: scroll;
}
.cta-button {
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #3EBD3E;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
	border: 1px solid #259425;
	font-size: 18px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.cta-button:hover {
	background: #2A9B2A;
	color: #fff;
}
.screenshot {
	margin: 2.5em 0 1.5em;
}
.enterprise-screenshot {
	padding: 6px;
	background: #F2F3F5;
	border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	max-width: 97%;
	height: auto;
}